@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
	margin: 0px;
	background-color: white !important;
}

.list-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}
.list-container .item {
	transition: 0.5s;
	filter: brightness(0.1);
}
.list-container .item:hover {
	transform: translateZ(200px) scale(1.01);
	filter: brightness(1);
}
.list-container .item:hover + * {
	transform: scale(1.01) translateZ(50px);
	filter: brightness(1);
}
