body {
  margin: 0px;
  background-color: white !important;
}
/* root {
  & .MuiIconButton-root: {
			padding: 0;
		}
	& .ce-toolbar__settings-btn: {
			color: black;
	}
		& .codex-editor__redactor: {
			paddingBottom: 30px !important;
			color: black;
		},
		& .ce-toolbar__plus: {
			color:black; 
		},
		& .ce-popover: {
    color: black !important;
			height: 100px,
		},
		& .ce-inline-toolbar__dropdown: {
			&:hover: {
				background: black;
			}
		}
} */


.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.curved-text {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.writing-effect {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  position: absolute;
  white-space: nowrap;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  animation: write 4s steps(40, end) forwards, curve 4s ease-in-out infinite;
}

@keyframes write {
  from {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  }
  to {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0);
  }
}

@keyframes curve {
  0% {
    transform: rotate(0deg) translateX(-100%);
  }
  50% {
    transform: rotate(180deg) translateX(50%);
  }
  100% {
    transform: rotate(360deg) translateX(100%);
  }
}
